<div class="buttons-pagination container">
  <button class="buttons-pagination__item">
    <svg class="buttons-pagination__icon" width="12" hight="12">
      <use
        class="buttons-pagination__icon"
        href="./images/svg/symbol-defs.svg#icon-arrow"
      ></use>
    </svg>
  </button>
  <button class="buttons-pagination__item">1</button>
  <button class="buttons-pagination__item">2</button>
  <button class="buttons-pagination__item">3</button>
  <button class="buttons-pagination__item">4</button>
  <button class="buttons-pagination__item">5</button>
  <button class="buttons-pagination__item">6</button>
  <button class="buttons-pagination__item">7</button>
  <button class="buttons-pagination__item">8</button>
  <button class="buttons-pagination__item">
    <svg class="buttons-pagination__icon" width="12" hight="12">
      <use
        class="buttons-pagination__icon"
        href="./images/svg/symbol-defs.svg#icon-arrow"
      ></use>
    </svg>
  </button>
</div>
