<main>
  <div class="films container">
    <ul class="films__list">
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2020
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="films__item">
        <figure>
          <img
            class="films__photo"
            src="./images/Rectangle 5.png"
            alt="Solider"
          />
          <figcaption>
            <p class="films__tittle">GREYHOUND</p>
            <p class="films__tittle films__tittle--color">
              Drama, Action | 2022
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</main>
