<header>
  <div class="header container">
    <nav>
      <ul class="header__list">
        <li class="header__item">
          <a class="logo" href="#">
            <svg class="logo_icon" width="24" height="24">
              <use
                href="./images/svg/symbol-defs.svg#icon-filmiconheader"
              ></use>
            </svg>
          </a>
          <h1 class="header__tittle">Filmoteka</h1>
        </li>
        <li class="header__item">
          <p class="header__text header__text--active">HOME</p>
          <p class="header__text">MY LIBRARY</p>
        </li>
      </ul>
    </nav>

    <form action="search" class="form-search">
      <input
        class="form-search__input"
        type="text"
        name="search"
        id=""
        autocomplete="off"
      />
      <svg class="form-search__icon" width="12" height="12">
        <use href="./images/svg/symbol-defs.svg#icon-search-2loopsearch"></use>
      </svg>
    </form>
    <div class="error-search">
      <p class="is-hidden">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>

    <!-- <div>
        <button>WATCHED</button>
        <button>QUEUE</button>
    </div> -->
  </div>
</header>
