<!-- <div class="backdrop"> -->
<div class="modal-details is-hidden">
  <button class="modal-details__close-btn" type="button">
    <svg width="30" height="30">
      <use href="./images/svg/symbol-defs.svg#close-cross"></use>
    </svg>
  </button>
  <div class="modal-details__photo-box">
    <img class="modal-details__photo" alt="" src="./images/Rectangle 5.png" />
  </div>
  <div class="modal-details__details">
    <table class="specification">
      <tr>
        <th class="specification__tittle"><h3>GREYHOUND</h3></th>
      </tr>

      <tr>
        <th class="specification__option">Vote / Votes</th>
        <th class="specification__rating">
          <span class="specification__rate specification__rate--color">7.3</span
          >/
          <snan class="specification__rate">1260</snan>
        </th>
      </tr>
      <tr>
        <th class="specification__option">Popularity</th>
        <th class="specification__rating">100.2</th>
      </tr>
      <tr>
        <th class="specification__option">Orginal Title</th>
        <th class="specification__rating">GREYHOUND</th>
      </tr>
      <tr>
        <th class="specification__option">Genere</th>
        <th class="specification__rating">Drama, Action</th>
      </tr>
    </table>
    <h4 class="modal-details__about">About</h4>
    <p class="modal-details__about modal-details__about--paragraf">
      Four of the West's most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they've been double crossed – but by who and
      how?
    </p>
    <div class="modal-details__buttons">
      <button class="btn" type="button">ADD TO WATCHED</button>
      <button class="btn" type="button">ADD TO QUEUE</button>
    </div>
  </div>
</div>
<!-- </div> -->
